<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu site</title>
</head>
<body>
    <ul>Menu
        <li><a href="/">Index</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/tabuada">Tabuada</a></li>
        <li><a href="/calculojuros">Calculojuros</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/imc">Imc</a></li>
        <li><a href="/consumoenergia">Consumoenergia</a></li>
    
    </ul>
    {% block content %}
    {% endblock %}
</body>
</html>